<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Comments</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Make a new comment</h1>
      <form action="/comments" method="post">
        <section>
          <label for="username">Enter Username:</label>
          <input
            id="username"
            type="text"
            placeholder="username"
            name="username"
          />
        </section>
        <br />
        <section>
          <label for="commment">Add New Comment</label>
          <br />
          <textarea
            id="comment"
            cols="30"
            rows="5"
            name="comment"
            placeholder="Enter text..."
          ></textarea>
        </section>
        <button type="submit">Submit</button>
      </form>
      <a href="/comments">Back</a>
    </div>
  </body>
</html>
