<%- include('partials/head') %> 

<body>
    <%- include('partials/navbar') %> 

    <h1>Home Page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint optio neque nisi quis reiciendis illo totam fugit in quos unde, accusamus beatae deserunt voluptates porro dolore. Quidem quo consequuntur laborum! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta sit commodi inventore maiores, excepturi vero quia, cupiditate repellendus provident recusandae voluptates vel modi perspiciatis ratione repudiandae molestiae officia exercitationem eum.
    Accusantium, quo sint at mollitia ipsum vero autem! Dignissimos quos saepe amet laborum exercitationem culpa tempore magnam laudantium provident placeat et labore dolores, eaque, eos ipsam vel corporis nihil consectetur.
    Animi vel beatae cum exercitationem culpa sint excepturi obcaecati.<br><br>
    
    <%= 4+5+1%>
    Non repudiandae facilis quaerat odit distinctio? Doloremque exercitationem, voluptate natus aliquid explicabo unde, cupiditate nam cumque possimus dignissimos voluptas!
    Voluptatibus blanditiis optio itaque eos alias consequuntur doloribus iusto soluta temporibus, maiores animi esse, ducimus, velit expedita autem dignissimos saepe consequatur aperiam minima voluptas amet quia? Consequuntur, est. Mollitia, laboriosam.
    Aperiam impedit nobis. Aliquid quos dolorum accusamus unde aperiam delectus necessitatibus qui asperiores in architecto iste id provident natus magnam vitae doloribus distinctio, voluptates, atque recusandae fugiat deserunt eos!
    Temporibus, earum ducimus. Dolorum a veniam amet perspiciatis exercitationem iure excepturi placeat, officiis harum! Mollitia, eaque. Deserunt, sunt ad. Culpa libero, modi eaque ab veritatis nam odio? Nisi, molestiae ex.
    </p>
</body>
</html>